/* CSS HEX
--jet: #343434;
--space-cadet: #2f3061;
--maximum-red: #d62828;
--marigold: #f4ac32;
--cool-grey: #938ba1;
--white: #ffffff;
--eerie-black: #1f1f1f;
*/


*{
  font-family: sans-serif;
}

#bg {
  background: url('images/squares.png');
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  top:0px;
  left:0px;
}
#navigation {
  background-color: #fff;
  border: 10px solid #343434;
  padding: 10px;
  max-width: 800px;
  margin-left:auto;
  margin-right:auto;
  box-shadow: 5px 5px rgba(158, 165, 177, 0.7);
}

#navigation span {
  cursor: pointer;
  transition: all .5s;

  padding-right: 10px;
}
#navigation span:hover {
  text-decoration: underline;
}

.hidden {
  visibility: hidden;
}
.page {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  max-width: 800px;
  margin-left:auto;
  margin-right:auto;
  padding: 10px;
  background-color: #fff;
  border: 10px solid black;
  box-shadow: 5px 5px rgba(158, 165, 177, 0.7);
}

#content {
  position:relative;
  margin-top: 10px;
}

body {
    background: linear-gradient(335deg, #ffffff, #ffffff, #f72e0d, #ffee00, #00a3ff, #ffffff, #ffffff, #ffffff, #ffffff);
    background-size: 1800% 1800%;

    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;

    overflow: hidden;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
