#bg {
  background: url('squares.png');
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  top:0px;
  left:0px;
}
#navigation {
  background-color: #fff;
  border: 10px solid black;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  box-shadow: 5px 5px rgba(158, 165, 177, 0.7);
}

#navigation span {
  cursor: pointer;
  transition: all .5s;
}
#navigation span:hover {
  text-decoration: underline;
}

.hidden {
  visibility: hidden;
}
.page {
  position: fixed;
  padding: 10px;
  background-color: #fff;
  border: 10px solid black;
  box-shadow: 5px 5px rgba(158, 165, 177, 0.7);
}

#content {
  position: absolute;
  top: 80px;
  left: 10px;
}

body {
    background: linear-gradient(283deg, #ea2468, #ffe300, #0098ff, #ffe300, #ea2468);
    background-size: 1000% 1000%;
    -webkit-animation: bg 29s ease infinite;
    -moz-animation: bg 29s ease infinite;
    animation: bg 29s ease infinite;
}

@-webkit-keyframes bg {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@-moz-keyframes bg {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@keyframes bg {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
