#bg {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

#navigation {
  background-color: #fff;
  border: 10px solid black;
  position: absolute;
  top: 50px;
  left: 50px;
}
